*
{
	padding: 0;
	margin: 0;
}
body,html
{
	height: 100%;
	min-width: 1160px;
	font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,宋体,sans-serif;
}
ul
{
	list-style: none;
}
a
{
	text-decoration: none;
}
/*top的广告图部分*/
#toper
{
	background-image: url(../images/index/web-ad-bg.jpg);
	background-position: 50%; 
	min-width: 1160px;
	height: 60px;
}
#toper img
{
	float: right;
	margin-top:15px;
	margin-right: 205px;
}
/*顶部的小菜单*/
#topmenu
{
	height: 32px;
	background: #323232;
	position: relative;
}
.left>ul>li>a,.right>ul>li>a
{
	color: #c0c0c0;
	font-size: 14px;
	font-weight: 800;
}
/*小菜单的左边部分*/
#topmenu .left
{
	margin-left: 20px;
	float: left;
}
#topmenu .left>ul>li a img
{
	vertical-align: middle;
	position: relative;
	top:-1px;
	left: 2px;
}
#topmenu .left #jt
{
	position: relative;
	top:-1px;
	margin-left: 2px;
}
#topmenu .left>ul>li
{
	float: left;
	position: relative;
	height: 30px;
	padding: 0px 15px;
	line-height: 30px;
}
/*小菜单的右边部分*/
#topmenu .right
{
	float:right;
	height: 30px;
	color: #C0C0C0;
	position: relative;
}
#topmenu .right li
{
	float: left;
	line-height: 28px;
	height: 30px;
	margin-right: 12px;
}
#topmenu .right li a
{
	vertical-align: middle;
	line-height: 32px;
	height: 30px;
	display: inline-block;
}
#topmenu .right li:nth-child(1) input
{
	border-radius: 3px;
	border: none;
	height: 19px;
	margin-right:-29px;
	width: 0px;
}
#topmenu .right li:nth-child(2) a,#topmenu .right li:nth-child(4) a,#topmenu .right li:nth-child(5) a,#topmenu .right li:nth-child(6) a
{
	display: inline-block;
	width: 17px;
	height: 19px;
	
}
#topmenu .right li:nth-child(2) a{
	position: relative;
	top:-1px;
	left: -2px;
}
#topmenu .right li:nth-child(3){	
	line-height: 33px;
}
#topmenu .right li:nth-child(4) a
{
	background-image:url(../images/index/tm.png);
	background-position: 30% 30%;
}
#topmenu .right li:nth-child(4) a:hover
{
	background-image:url(../images/index/tm2.png);
	background-position: 30% 0%;
}
#topmenu .right li:nth-child(5) a
{
	background-image:url(../images/index/tm.png);
	background-position: 30% 65%;
}
#topmenu .right li:nth-child(5) a:hover
{
	background-image:url(../images/index/tm2.png);
	background-position: 30% 33%;
}
#topmenu .right li:nth-child(6) a
{
	background-image:url(../images/index/tm.png);
	background-position: 30% 95%;
}
#topmenu .right li:nth-child(6) a:hover
{
	background-image:url(../images/index/tm2.png);
	background-position: 30% 65%;
}
#topmenu li a:hover
{
	color: #10b041;
}
/*社区和预定分菜单*/
.jt2>ul
{
	width: 180px;
}
.jt2>ul,.jt3>ul
{
	position: absolute;
	background: white;
	border-radius: 8px;
	display: none;
	z-index: 99999999;
	left: -5px;
	border: 1px solid #ececec;
	border-top: none;
}
.jt3>ul
{
	width: 130px;
}
.jt2>ul>li,.jt3>ul>li 
{
	height: 30px;
	line-height: 30px;
	margin-left: 14px;
	margin-top:8px;
}
.jt2>ul>li:first-child
{
	width: 200px;
}
.jt2>ul li img,.jt3>ul li img
{
	vertical-align: middle;
	margin-right: 5px;
}
.jt2>ul li span,.lxfc li:first-child span
{
	transform: rotate(90deg);
	display: inline-block;
	margin-left: 5px;
}
.jt2>ul li a,.jt3 ul li a
{
	color:#636363;
	font-size: 16px;
}

#tangle,#tangle1
{
	border-bottom:12px solid white ;
	border-left:6px solid transparent ;
	border-top:12px solid transparent ;
	border-right:6px solid transparent ;
	position: absolute;
	left:22px;
	top:8px;
	display: none;
}
.ydfc
{
	position: absolute;
	width: 570px;
	left: 185px;
	top: 0;
	display: none;
	overflow: hidden;
	border-radius: 5px;
	height: 350px;
	background: white;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 100000;
	
}
.lxs
{
	width: 170px;
}
.ydfc ul li
{
	
	border-bottom: 1px dashed #ededed;
	line-height: 26px;
	overflow: auto;
	overflow: hidden;
}
.ydfc ul li:first-child
{
	border-bottom: 1px solid silver;
	padding: 8px 0;
	height: 30px;
	line-height: 30px;
}
.ydfc ul li h2
{
	font-size: 16px;
	color: #323232;
	float: left;
	margin-top: 8px;
	font-weight: 300;
	margin-right: 30px;
}
.ydfc ul li div
{
	
	width: 474px;
	line-height: 35px;
	float: right;
	overflow: hidden;
	border: 1px solid transparent;
}
.ydfc ul li a
{
	color: #636363;
	font-size: 14px;
	margin-right: 10px;
}
.ydfc ul li:first-child a
{
	float: right;
	
	float: right !important;
	transition: all .2s ease-in-out;
}
/*大的搜索框部分*/
#search
{
	height: 120px;
	background-image: url(../images/index/serbj.jpg);
}
#world
{
	width: 226px;
	height: 120px;
	float: left;
	margin-left: 110px;
	line-height: 110px;
}
#world img
{
	vertical-align: middle;
}
#searchmuch
{
	width: 479px;
	height:120px;
	float: left;
	margin-left: 100px;
	line-height: 120px;
	position: relative;
}
#searchmuch input
{
	width: 459px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	padding-left: 20px;
}
/*搜素框中的内容提示*/
.searchcontent
{
	border: 1px solid #ccc;
	position: absolute;
	width: 440px;
	height: 234px;
	top: 82px;
	left: 15px;
	display: none;
	background: white;
	z-index: 10000000;
	border-top: none;
	box-shadow: 0 6px 6px rgba(0,0,0,.15);
}
.searchcontent ul li:first-child
{
	border-top: none;
}
.searchcontent ul li
{
	font-size: 16px;
	line-height: 38px;
	background: white;
	border-top: 1px solid #f4f4f4;
}
.searchcontent ul li a:hover
{
	background: #1BC19D;
	color: white;
}
.searchcontent ul li a:hover em
{
	color: white;
}
.searchcontent ul li a
{
	display: block;
	padding: 0 12px;
	overflow: hidden;
	color: #323232;
}
.searchcontent ul li a em
{
	float: right;
	font-size: 14px;
	color: #dbdbdb;
	font-style: normal;
}
.searchcontent ul li a .name
{
	float: left;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#continue
{
	width: 423px;
	height: 120px;
	float: right;
	position: relative;
}
#continue #red
{
	position: absolute;
	width: 64px;
	height: 104px;
	background-image: url(../images/index/top-app-bg.png);
	top:0px;
	left:210px;
	text-align: center;
}
#continue #red img
{
	vertical-align: middle;
	position: absolute;
	top:15px;
	left:18px;
}
#continue #red h3
{
	display: inline-block;
	position: relative;
	top:55px;
	left: -1px;
	color: white;
}
#sse
{
	width: 110px;
	height: 30px;
	position: absolute;
	top:137px;
	left: 790px;
	border-left: 1px solid #00B081;
}
#sse #se
{
	color: #00B081;
	font-size: 18px;
	display: inline-block;
	height: 30px;
	position: relative;
	top:-3px;
	margin-left: 8px;
}
#sse img
{
	position: relative;
	top:3px;
	margin-left: 27px;
}
/*主导航*/
#mainmenu
{
	height: 50px;
	font-size: 16px;
}
#mainmenu ul
{
	width: 1160px;
	height: 50px;
	margin:0 auto;
}
#mainmenu ul li
{
	float: left;
	height: 50px;
	line-height: 50px;
}
#mainmenu ul li a
{
	color: black;
	display: inline-block;
	padding-left: 29px;
	padding-right: 29px;
}
#mainmenu ul li a:hover
{
	background: #f5f5f5;
	color: #2FB081;
}
#play img
{
	position: absolute;
	width: 37px;
	height: 12px;
	margin-top:3px;
	margin-left:-28px;
}
#play span
{
	content: '';
position: absolute;
border-top: 6px solid #d0392a;
border-right: 6px solid transparent;
margin-top:15px;
margin-left:3px;
}
/*轮播图*/
#lbt
{
	position: relative;
	width: 1349px;
	height: 420px;
	overflow: hidden;
}
#lbt ul
{
	position: absolute;
	z-index: 99999;
	right: 100px;
	bottom: 10px;
}
#lbt li
{
	display: inline-block;
	width: 40px;
	height: 5px;
	margin-left: 2px;
	overflow: hidden;
	background-color: #000;
	opacity: .5;
	line-height: 100px;
	cursor: pointer;
}
#lbt .lbt
{
	background-color: #ff4767;
}
/*轮播图上面的箭头*/
#lbt #rijt
{
	right: 0;
	text-align: right;
	padding-right: 20px;
}
#lbt #lejt
{
	text-align: left;
	padding-left: 20px;
}
#lbt #lejt img
{
	transform: rotate(180deg);
}
#lbt p
{
	position: absolute;
	z-index: 9999;
	padding-top:178px;
	width: 128px;
	height: 420px;
}
#lbt p:hover
{
	background: rgba(0,0,0,0.1);
}

#lp
{
	height: 420px;
	width: 5396px;
	left:0px;
	position: relative;
}
#tu
{
	width: 1349px;
	float: left;
	height: 420px;
	
}
#tu a
{
	background-position: 50% 0%;
	display: block;	
	height: 420px;
	width: 1349px;
}
/*热门类目*/
#hotmenu
{
	width: 280px;
	height: 420px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top:262px;
	margin-left: 90px;
}
#hotmenu>ul
{
	width: 280px;
	height: 400px;
	margin-top:10px;
	position: relative;
}
#hotmenu>ul li
{
	width: 280px;
	height: 56px;
	border-top: 1px solid hsla(0,0%,100%,.1);;
	position: relative;
}
#hotmenu>ul li p
{
	position:absolute;
}
#hotmenu>ul li p a
{
	padding:3px;
}
#hotmenu>ul li:first-child
{
	border-top: none;
}
#hotmenu >ul li p:nth-child(1)
{
	float: left;
	margin-left: 20px;
	margin-top:15px;	
}

#hotmenu>ul li p:nth-child(2)
{
	color:white;
	top:10px;
	left:57px;
	font-size: 18px;
}
#hotmenu>ul li p:nth-child(3)
{
	bottom: 0;
	left: 57px;
}
#hotmenu>ul li p:nth-child(3) a,#hotmenu ul li p:nth-child(4)
{
	color: silver;
}
#hotmenu>ul li p:nth-child(3) a:hover
{
	color: #00b081;
	text-decoration: underline;
}
#hotmenu>ul li p:nth-child(4)
{
	right: 10px;
	top:14px;
	transform: rotate(90deg);
}
/*热门类目里面的分菜单*/
#hotmechild>div
{
	float: left;
	position: absolute;
	z-index: 100000;
	height: 378px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	top:10px;
	display: none;
	left: 280px;
	background: white;
}
#hotmechild .onediv
{
	width: 610px;
}
#hotmechild .twodiv
{
	width: 290px;
}
.menuall
{
	width:50%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}
.menuall:first-child
{
	padding-right: 8px;
}
.menuall:nth-child(2)
{
	padding-left: 23px;
}
#hotmechild  h2
{
	border-bottom: 1px solid #ececec;
	margin-bottom: 12px;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
	color: #323232;
}
#hotmechild p
{
	margin-top: 30px;
}
#hotmechild p img
{
	width: 100%;
	height: 100%;
}
#hotmechild ul a 
{
	color: #636363;
	font-size: 14px;
	line-height: 25px;
	display: inline-block;
	margin-right: 10px;
}
#hotmechild>.twodiv ul
{
	overflow: auto;
	width: 330px;
}
#hotmechild>.twodiv ul a
{
	margin-right: 0;
}
#hotmechild ul li
{
	float: left;
	width: 80px;
	margin-right: 21px;
	margin-top: 10px;
}
#hotmechild ul li img
{
	width: 100%;
	height: 100%;
}
#hotmechild ul a:hover
{
	color:#1AC19D;
	text-decoration: underline;
}
/*首屏广告*/
#fadv
{
	width: 1160px;
	height: 110px;
	margin: 20px 6.5%;
}
#fadv li
{
	display: inline-block;
	margin-right: 16px;
}
#fadv li:last-child
{
	margin-right: 0px;
}
/*限时特卖*/
#buytime
{
	width: 1349px;
	padding: 35px 0 50px;
	background: #f5f5f5;
}
#timecontent
{
	width: 1160px;
	height: 195px;
	margin: auto auto;
}
#xm
{
	height: 40px;
}
#xm h2
{
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
}
#xm h2,#xm p
{
	float: left;
}
#xm p
{
	margin-left: 12px;
	padding-top: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #636363;
}
#xm span
{
	float: right;
	margin-top: 18px;
	font-size: 14px;
	line-height: 16px;
	color: #636363;
	position: relative;
}
#xm span img
{
	position: absolute;
	left: -22px;
	
}
#xm span:hover
{
	color: #10b041;
	cursor: pointer;
}
#xmcontent
{
	height: 125px;
	margin-top: 30px;
}
#xmcontent ul li
{
	width: 370px;
	height: 125px;
	float: left;
	margin-right: 24px;
}
#xmcontent ul li:last-child
{
	margin-right: 0;
}
#xmcontent ul li img
{
	width: 120px;
	height: 120px;
	border-top: 5px solid #474747;
}
#xmcontent ul li>p,.msg,.rb>ul>li>p
{
	float: left;
	
}
.msg
{
	background: white;
	border-top: 5px solid #ff7467;
	width: 250px;
	height: 125px;
	

}

.msg h2,.msg h3
{
	display: inline-block;
}
.msg h3
{
	padding: 10px 20px 0;
	height: 51px;
	font-weight: 500;
	
	font-size: 18px;
	line-height: 26px;
	color: #323232;
	overflow: hidden;
	text-overflow: ellipsis;
}
.msg h2,.zttj #jrrm ul>li h2
{
	float: right;
	margin-top:10px;
	margin-right: 10px;
	font-size: 32px;
	font-weight: 200;
	color: #ff7467;
}
.zttj #jrrm ul>li h2
{
	margin-top:-7px;
}
.msg h2 span,.zttj #jrrm ul>li h2 span
{
	font-size: 14px;
	line-height: 1;
	color: silver;
}
/*自由行*/
#zyx
{
	width: 100%;
	height: 709px;
}
#zyxwrap
{
	width: 1160px;
	height: 624px;
	margin: 40px auto;
}
.topwz
{
	height: 40px;
}
.topwz h2{
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
}
.topwz p
{
	margin-left: 12px;
	padding-top: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #636363;
}
.topwz h2,.topwz p
{
	float: left;
	
}
.topwz ul
{
	
	float: right;
	margin-top: 9px;
	position: relative;
	top: 5px;
}
.topwz ul li
{
	float: left;
	font-size: 16px;
	line-height: 28px;
	padding-left: 30px;
	
}
.topwz ul li a
{
	display: block;
	color: #636363;
}
.topwz ul li:first-child a
{
	color: #00b081;
	border-bottom: 3px solid #00b081;
}
#xscon
{
	width: 1160px;
	height: 574px;
	margin-top: 30px;
}
#xscon>div
{
	width: 1160px;
	height: 574px;
	position: absolute;
	display: none;
}
/*第一个div的index*/
#xscon>div:first-child
{
	z-index: 9999;
	display: block;
}
#xscon ul li:first-child
{
	width: 570px;
	height: 267px;
}
#xscon ul li:first-child img
{
	width: 570px;
	height: 267px;
}
#xscon ul li:first-child .infor
{
	position: absolute;
	top:187px;
}
#xscon ul li:first-child .tiltes
{	
	position: absolute;
	width: 540px;
	height: 84px;
	border: none;
	top:182px;
	padding: 0 15px;
	background-color: rgba(0,0,0,.6);
}
#xscon ul li:first-child .tiltes span
{
	color: white;
	display: block;
	padding: 17px 0 0 0;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#xscon ul li:first-child .tiltes p,.type
{
	padding-top: 5px;
	font-size: 14px;
	color: silver;
}
#xscon ul li
{
	width: 275px;
	height: 267px;
	float: left;
	box-sizing: border-box;
	margin-bottom: 20px;
}
#xscon ul li:hover img,.clwcont ul li:hover img,#xmcontent>ul>li:hover img
{
	opacity: 0.7;
}
#xscon ul li:hover,.clwcont ul li:hover
{
	box-shadow: 3px 3px 3px 3px darkgray;
}
#xscon ul li:nth-child(2)
{
	margin: 0px 20px 0 20px;
}
#xscon ul li:nth-child(4),#xscon ul li:nth-child(5),#xscon ul li:nth-child(6)
{
	margin-right: 20px;
}
.infor
{
	position: absolute;
	height: 36px;
	margin-top: -41px;
	line-height: 41px;
	color: #fff;
}
.infor .jp
{
	background-color: rgba(0,0,0,.6);
	font-size: 16px;
	display: inline-block;
	height: 36px;
	float: left;
	padding: 0 15px;
}
.infor .money
{
	display: inline-block;
	height: 36px;
	font-size: 24px;
	font-weight: 200;
	padding: 0 15px;
	background-color: #ff7467;
	float: left;
}
.infor .money span
{
	font-size: 12px;
}
.tiltes
{
	height: 85px;
	border: 1px solid #ececec;
	border-top: none;
	position: relative;
	top:-10px;
}
.tiltes>span
{
	height: 52px;
	display: inline-block;
	padding: 15px 15px 0;
	font-size: 18px;
	color: #323232;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zttj .tiltes>span
{
	padding: 13px 15px 0;
}
#xscon #jgd
{
	background-color: #33cea0;
}
#xscon ul li:last-child .top,.rb .top
{
	height: 214px;
	width: 100%;
	display: inline-block;
}
#xscon ul li:last-child .bottom,.rb .bottom
{
	color: white;
	margin-top: 5px;
	text-align: center;
	line-height: 26px;
	font-size: 16px;
}
#xscon ul li:last-child .bottom a,.rb .bottom a
{
	color: white;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
}
.top .ck
{
	padding-top: 46px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.top .gd
{
	text-align: center;
	margin-top: 15px;
}
/*城市玩乐*/
#cwl
{
	width: 1349px;
	height: 475px;
	background-color: #f5f5f5;
	margin-top: 50px;
	padding: 40px 0 50px;
}
#cwl #cwlwrap
{
	width: 1160px;
	height: 480px;
	margin: 0px auto;
}
.clwcont
{
	width: 100%;
	height: 435px;
}
.clwcont .rb>ul
{
	width: 1190px;
	height: 435px;
}
.clwcont .rb li
{
	width: 370px;
	height: 120px;
	float: left;
	margin-right: 25px;
	margin-top:25px;
}
.clwcont .rb li:nth-child(1),.clwcont .rb li:nth-child(5)
{
	height: 265px;
}
.clwcont .rb li:nth-child(5)
{
	background: #ff6a71;;
}
.clwcont .rb li:nth-child(6),.clwcont .rb li:nth-child(7)
{
	margin-top: -118px;
}
.rb .msg
{
	border: none;
	padding-top:10px ;
	height: 110px;
}
.rb ul li:first-child
{
	position: relative;
	
}
.rb ul li:first-child .msg
{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 175px;
	background-color:transparent;
	background-image:url(../images/citywalk/wanle-one-maskbg.png) ;
background-image: linear-gradient(180deg,transparent,#000);
	
}
.rb ul li:first-child .msg h3
{
	color: white;
	width: 330px;
	position: absolute;
	bottom: 48px;
}
.rb ul li:first-child .msg h2
{
	position: absolute;
	bottom: 3px;
	right: 10px;
}
.type
{
	position: absolute;
	left: 20px;
	bottom: 10px;
}
.rb .msg h2
{
	margin-top:-7px;
}
/*主题推荐*/
#xscon #zgd
{
	background:  #877fd0;
}
.zttj #jrrm ul>li>p>img
{
	height: 160px;
	width: 275px;
}
.zttj #jrrm ul>li
{
	position: relative;
}
.zttj #jrrm ul>li .tiltes
{
	height: 110px;
}
.mark
{
	position: absolute;
	background-color: #000;
	opacity: .2;
	width: 100%;
	height: 100%;
	top:0;
}
.marksmall
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	background: url(../images/citywalk/wanle-one-maskbg.png) repeat-x;
	background-image: linear-gradient(180deg,transparent,#000);
}
.tag
{
	position: absolute;
	top: 52px;
	left: 223px;
	width: 100px;
	height: 72px;
	padding: 24px 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #fff;
}
.title
{
	position: absolute;
	bottom: 10px;
	left: 15px;
	width: 400px;
	font-weight: 100;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	color: #fff;
}
.zttj #jrrm ul>li:first-child .price
{
	position: absolute;
	bottom: 3px;
	right: 15px;
}
/*footer部分*/
#footerpre
{
	min-width: 1160px;
	height: 220px;
	background-color: #f5f5f5;
}
#topfooter
{
	text-align: center;
	padding-top: 25px;
}
#topfooter li:first-child
{
	margin-left: 80px;
	border:none;
	
}
#topfooter li
{
	float: left;
	border-left:2px solid #dfdfdf;
	font-size: 18px;
	padding: 0px 35px;
	text-align: center;
}
#topfooter li a
{
	color:  #575757;
}
#topfooter li a:hover
{
	color: #10B041;
	text-decoration: underline;
}
#bottomfooter
{
	width: 1160px;
	margin-left:10% ;
	padding: 90px 0 50px;
}
#bottomfooter li
{
	display: inline-block;
	margin: 0 70px 0 70px;
	width: 260px;
	height: 58px;
	position: relative;
}
#bottomfooter li:first-child
{
		margin-left: 40px;
}
#bottomfooter li:last-child
{
	margin-right: 0;
}
.tp1,.tp2,.tp3
{
	position: absolute;
	margin-left: -75px;
	width: 56px;
	height: 56px;
	background: url(../images/index/foot-feature.png) no-repeat;
}
.tp2
{
	background-position: 0 -56px;
}
.tp3
{
	background-position: 0 -112px;
}
#bottomfooter li h3
{
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 18px;
}
#bottomfooter li p:nth-child(3)
{
	color: #959595;
	width: 275px;
	font-size: 12px;
}
/*footer部分*/
#footer
{
	min-width: 1160px;
	padding: 40px 0;
	background-color: #333;
	color: #c0c0c0;
}
#footcontent
{
	width: 1160px;
	margin: 0 auto;
	border: 1px solid transparent;
}
.footzsj
{
	border: 1px solid transparent;
}
.ftzl
{
	float: left;
	margin-left: 0px;
}
.ftzl p
{
	float: left;
}
.ftzl p:nth-child(1)
{
	margin-right: 25px;
}

.ftzl p:nth-child(2)
{
	
	width: 540px;
	font-size: 14px;
	line-height: 24px;
}
.ftzr
{
	float: right;
	width: 344px;
	position: relative;
	
}
.ftzr ul li
{
	background-image: url(../images/index/fot1.png);
	height: 54px;
	width: 54px;
	list-style: none;
	float: left;
	margin-left: 10px;
}
.ftzr>p
{
	float: left;
	margin-right: 10px;
	font-size: 18px;
	line-height: 48px;
	color: #ececec;
}
.ftzr ul li:hover
{
	background-image: url(../images/index/fot2.png);
}
.ftzr ul li:nth-child(3)
{
	background-position: 0 33%;
}
.ftzr ul li:nth-child(5)
{
	background-position: 0 66%;
}
.ftzr ul li:nth-child(7)
{
	background-position: 2px 100%;
}
.layer2
{
	display: none;
    position: absolute;
    z-index: 10000000;
   	right: 15px;
    bottom: 40px;
}
.layer 
{
    height: 140px;
}
.layer1
{
    height:90px;
}
.layer .box
{
	width: 234px;
	background: white;
	border: 1px solid #ddd;
	border-bottom: none;
	height: 115px
	
}
.box1
{
	height: 60px;
	background: white;
	border: 1px solid #ddd;
	border-bottom: none;
}
.box .pics {
    display: inline-block;
    padding: 12px 0px 0px 12px;
}
.box .text {
    
    padding-left: 20px;
    text-align: center;
    position: relative;
    top:-15px; 
    display: inline-block;
}
.box .text1
{
	position: relative;
	padding-left: 20px;
	top:15px;

}
.box .txt1 {
    font-size: 12px;
    line-height: 20px;
     color: #636363;
   
}
.box .txt2 {
    font-size: 16px;
    line-height: 25px;
     color: #636363;
}
.box .txt3 {
    font-size: 25px;
    line-height: 28px;
    color: #00b081;
}
.tal
{
    position: absolute;
   	border-top:10px solid white;
   	display: block;
	border-bottom:10px solid transparent;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	bottom: 10px;
}

.tal1
{
	
    left: 17px;
    bottom: 4px;
}
.tal2
{
	
    left: 88px;
    bottom: 4px;
}
.tal3
{
	
    left: 140px;
   
}
.tal4
{
	
    left: 200px;
   
    
}
.box .follow {
    margin: 15px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 30px;
    background-color: #ff7467;
    font-size: 14px;
    line-height: 30px;
    float: left;
    color: #fff;
    text-align: center;
}
.box a
{
	text-decoration: none;
	color: #0073b6;
	margin-right: 15px;
}
.box a:hover
{
	text-decoration: underline;
}
.box .iptext {
    vertical-align: middle;
    margin: 15px 0 15px 15px;
    width: 116px;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}
 .box .iptsbm {
    vertical-align: middle;
    width: 62px;
    height: 30px;
    border: none;
    background-color: #00b081;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 15px;
}
.fotpq
{
	margin-top: 100px;
}
.fotpq #link
{
	
}
.fotpq>div
{
	margin-bottom: 10px;
}
.fotpq #link ul li
{
	display: inline-block;
	padding:0 20px;
	border-left: 1px solid #c0c0c0;;
}
.fotpq #link ul li:first-child
{
	padding:0 20px 0 0;
	border: none;
}
.fotpq  a{
	color:  #c0c0c0;
}
.fotpq  a:hover
{
	text-decoration: underline;
}
/*底部小广告*/
.bottomadv
{
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 70px;
	width: 100%;
	z-index: 111900;
	min-width: 980px;
	background: rgba(0,0,0,.7);
	display: none;
}
.main
{
	width: 980px;
	min-width: 980px;
	margin: 0 auto;
	height: 70px;
	position: relative;
}
.imgbot
{
	position: absolute;
	right: 505px;
	bottom: 0;
	height: 100%;
}
.ksdl
{
	position: absolute;
	right: 110px;
	bottom: 0;
	height: 70px;
	color: #d7d7d7;
	line-height: 70px;
}
.wb,.qq,.zc
{
	display: inline-block;
	width: 100px;
	height: 30px;
	vertical-align: middle;
	background-image: url(../images/index/qyer_layer_btn_2.png);
}
.wb:hover
{
	background-position: 0 100%;
}
.qq
{
	background-position: 31.2% 0;
}
.qq:hover
{
	background-position: 31.2% 100%;
}
.zc
{
	
	width: 110px;
	background-position: 64.5% 0;
}
.zc:hover
{
	background-position: 64.5% 100%;
}
.dl
{
	margin:0 5px;
}
.dl a
{
	color: #d7d7d7;
	font-weight: 700;
	text-decoration: underline;
}
.dl a:hover
{
	color: white;
}
.close
{
	background: url(../images/index/qyer_layer_close.png) no-repeat right center;
	text-indent: -9999px;
	width: 31px;
	height: 29px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.close:hover
{
	background: url(../images/index/qyer_layer_close.png) no-repeat right center;
	background-position: 50% 0;
}

/*右侧栏*/
.lettop li
{
	list-style: none;
	display: none;
}
.lettop
{
	display: block;
	position: fixed;
	top: 200px;
	right: 0;
	
	width: 50px;
}
.lettop li,.lettop .top1
{
	width: 48px;
	height: 48px;
	border:1px solid #ddd;
	line-height: 48px;
	background-color: #fff;
	color: #aaa;
	text-align: center;
	font-size: 26px;
	overflow: hidden;
}
.lettop li i
{
	position: relative;
	top:0px;
	transition: all .3s;
}
.lettop li:hover  div,.lettop li:hover  i
{
	top:-50px;
}
.lettop li:nth-child(2)
{
	border-top: none;
}
.lettop>div
{
	margin-top: 5px;
	display: none;
}
.lettop li div
{
	position: relative;
	padding: 10px 0;
	background: white;
	top: 0;
	transition: all .3s;
}
.lettop li div span
{
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #aaa;
}